.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: block;
  height: 0;
  overflow-y: hidden;
}

.tab-content > .active,
.pill-content > .active {
  height: auto;
}

#obsgraph {
    height: 100%;
}

#obsgraph .modal-body {
  height: 100%;
  border-radius: 0;
}

#obsgraph .modal-dialog {
  width: 75%;
  height: 75%;
  padding: 0;
}

.obslogos {
    width: 40%;
    padding: 0 5px 0 5px;
}

/* No rounded borders */

.leaflet-bar,
.leaflet-control-layers,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-popup-content-wrapper {
    border-radius: 0px !important;
}


/* Panel to interact with layers */

#floating-panel {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    background-color: #111;
    padding: 2px;
    opacity: 0.85;
}

#floating-panel ul {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

#floating-panel ul li>label {
    display: block;
    margin: 2px;
}

#floating-panel ul li {
    margin-bottom: 10px;
}

.verticalRange {
    margin-top: 60px!important;
    margin-bottom: 60px!important;
    margin-left: -30px;
    margin-right: -30px;
    transform: rotate(270deg);
}
