{% extends "tethys_apps/app_base.html" %}
{% load tethys_gizmos staticfiles %}
{% load tethys_gizmos %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>

{% block styles %}
    {{ block.super }}
    <link href="{% static 'lake/css/map.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}
{{ tethys_app.name }}
{% endblock %}

{% block app_icon %}
  <img src="{% if 'http' in tethys_app.icon %}{{ tethys_app.icon }}{% else %}{% static tethys_app.icon %}{% endif %}" />
{% endblock %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_title %}
{{ tethys_app.name }}
{% endblock %}

{% block app_navigation_items %}
  {{ block.super}}
  {% url 'lake:home' as home_url %}
  {% url 'lake:instructions' as instructions_url %}
  {% url 'lake:lakes' as lakes_url %}
  {% url 'lake:charact' as charact_url %}
  {% url 'lake:show_data' as show_data_url %}
  <li class="title">Navigation</li>
  <li class="{% if request.path == home_url %}active{% endif %}"><a href="{{ home_url }}">Home</a></li>
  <li class="{% if request.path == instructions_url %}active{% endif %}"><a href="{{ instructions_url }}">Instructions</a></li>
  <br>
  {% if request.path == home_url %}
  {% gizmo select_input select_lake %}
  {% gizmo select_input select_data %}
  {% gizmo select_input select_parameter %}
  {% gizmo select_input select_fraction %}
  {% gizmo select_input select_bdl %}
  {% gizmo select_input select_max %}
  <input type="button" onclick="searchButton();" name="search-button" class="btn btn-default" value="Search Data">
  <br>  <br>
  <li class="{% if request.path == show_data_url %}active{% endif %}"><a href="{{ show_data_url }}">Show Data</a></li>
  {% endif %}
{% endblock %}


{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/> 
  <link href="{% static 'lake/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="{% static 'lake/js/lakes.js' %}" type="text/javascript"></script>
{% endblock %}
