
	function chart(d) {
		var data = d.options.custom;
		var location = d.options.title;
		var timeseriesObject = {{data|safe}};
		//console.log(timeseriesObject);
		var trace = {
		  x: timeseriesObject['dates'],
		  y: timeseriesObject['values'],
		  type: 'scatter'
		};
		var data = [trace];
		var layout = {
		  title: {
		    text:'Station '.concat(location),
		    font: {
		      family: 'Courier New, monospace',
		      size: 24
		    },
		    xref: 'paper',
		    x: 0.05,
		  },
		  yaxis: {
		    title: {
		      text: 'Values '.units(location),
		      font: {
			family: 'Courier New, monospace',
			size: 18,
			color: '#7f7f7f'
		      }
		    }
		  }
		};
		Plotly.newPlot('timeseries_plot', data, layout);
	}
