{% extends "lake/base.html" %}
{% load tethys_gizmos %}
{% load tethys_gizmos static %}
{% gizmo timeseries_plot %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'lake/css/map.css' %}" rel="stylesheet"/>
{% endblock %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_navigation_items %}
  {% url 'lake:home' as home_url %}
  {% url 'lake:instructions' as instructions_url %}
  {% url 'lake:add_data' as add_data_url %}
  {% url 'lake:chl_a' as chl_a_url %}
  {% url 'lake:do' as do_url %}
  {% url 'lake:nit' as nit_url %}
  {% url 'lake:ph' as ph_url %}
  {% url 'lake:phosp' as phosp_url %}
  {% url 'lake:water_temp' as water_temp_url %}
  {% url 'lake:tds' as tds_url %}
  {% url 'lake:tub' as turb_url %}
  {% url 'lake:secchi' as secchi_url %}
  <li class="title">Navigation</li>
  <li class="{% if request.path == home_url %}active{% endif %}"><a href="{{ home_url }}">Home</a></li>
  <li class="{% if request.path == instructions_url %}active{% endif %}"><a href="{{ instructions_url }}">Instructions</a></li>
  <li class="{% if request.path == add_data_url %}active{% endif %}"><a href="{{ add_data_url }}">Search Data</a></li>
  <li class="title">Select Parameter</li>
  <ul>
    <li class="{% if request.path == chl_a %}active{% endif %}"><a href="{{ chl_a_url }}">Chlorophyll a</a></li>
    <li class="{% if request.path == do %}active{% endif %}"><a href="{{ do_url }}">Dissolved Oxygen</a></li>
    <li class="{% if request.path == nit %}active{% endif %}"><a href="{{ nit_url }}">Nitrogen</a></li>
    <li class="{% if request.path == ph %}active{% endif %}"><a href="{{ ph_url }}">pH</a></li>
    <li class="{% if request.path == phosp %}active{% endif %}"><a href="{{ phosp_url }}">Phosphate-Phosphorus</a></li>
    <li class="{% if request.path == water_temp %}active{% endif %}"><a href="{{ water_temp_url }}">Water Temperature</a></li>
    <li class="{% if request.path == tds %}active{% endif %}"><a href="{{ tds_url }}">Total Dissolved Solids</a></li>
    <li class="{% if request.path == turb %}active{% endif %}"><a href="{{ turb_url }}">Turbidity</a></li>
    <li class="{% if request.path == secchi %}active{% endif %}"><a href="{{ secchi_url }}">Secchi Disk Depth</a></li>
  </ul>
{% endblock %}

{% block app_content %}
  <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <style>

    .column {
    float: left;
    width: 35%;
    margin-bottom: 16px;
    padding: 0 10px;
    }

    #mapid { height: 700px; width: 600px; }

    </style>

      <link href="HydroShare.css" type="text/css" rel="stylesheet" />
         <title>
             HydroShare
         </title>
  </head>

  <body>
  <div class="column">
    <h1>pH</h1>
    <div id="mapid"></div>
  </div>
  <div class="column">
      <div id="timeseries_plot"></div>
  </div>

  </body>
<script>

function chart365(d) {
  var timeseriesObject365 = {{data365|safe}};
  console.log(timeseriesObject365);
  var trace365 = {
    x: timeseriesObject365['date365'],
    y: timeseriesObject365['values365'],
    type: 'scatter'
  };
var data365 = [trace365];
var layout = {
  title: {
    text:'Station 4917365',
    font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,
  },
  yaxis: {
    title: {
      text: 'Value',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
Plotly.newPlot('timeseries_plot', data365, layout);
}

function chart310(d) {
var timeseriesObject310 = {{data310|safe}};
console.log(timeseriesObject310);
var trace310 = {
  x: timeseriesObject310['date310'],
  y: timeseriesObject310['values310'],
  type: 'scatter'
};
var data310 = [trace310];
var layout = {
  title: {
    text:'Station 4917310',
    font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,
  },
  yaxis: {
    title: {
      text: 'Value',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
Plotly.newPlot('timeseries_plot', data310, layout);
}

function chart370(d) {
var timeseriesObject370 = {{data370|safe}};
console.log(timeseriesObject370);
var trace370 = {
  x: timeseriesObject370['date370'],
  y: timeseriesObject370['values370'],
  type: 'scatter'
};
var data370 = [trace370];
var layout = {3
  title: {
    text:'Station 4917370',
    font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,
  },
  yaxis: {
    title: {
      text: 'Value',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
Plotly.newPlot('timeseries_plot', data370, layout);
}

function chart390(d) {
var timeseriesObject390 = {{data390|safe}};
console.log(timeseriesObject390);
var trace390 = {
  x: timeseriesObject390['date390'],
  y: timeseriesObject390['values390'],
  type: 'scatter'
};
var data390 = [trace390];
var layout = {
  title: {
    text:'Station 4917390',
    font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,
  },
  yaxis: {
    title: {
      text: 'Value',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
Plotly.newPlot('timeseries_plot', data390, layout);
}

function chart450(d) {
var timeseriesObject450 = {{data450|safe}};
console.log(timeseriesObject450);
var trace450 = {
  x: timeseriesObject450['date450'],
  y: timeseriesObject450['values450'],
  type: 'scatter'
};
var data450 = [trace450];
var layout = {
  title: {
    text:'Station 4917450',
    font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,
  },
  yaxis: {
    title: {
      text: 'Value',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
Plotly.newPlot('timeseries_plot', data450, layout);
}

function chart500(d) {
var timeseriesObject500 = {{data500|safe}};
console.log(timeseriesObject500);
var trace500 = {
  x: timeseriesObject500['date500'],
  y: timeseriesObject500['values500'],
  type: 'scatter'
};
var data500 = [trace500];
var layout = {
  title: {
    text:'Station 4917500',
    font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,
  },
  yaxis: {
    title: {
      text: 'Value',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
Plotly.newPlot('timeseries_plot', data500, layout);
}

function chart520(d) {
var timeseriesObject520 = {{data520|safe}};
console.log(timeseriesObject520);
var trace520 = {
  x: timeseriesObject520['date520'],
  y: timeseriesObject520['values520'],
  type: 'scatter'
};
var data520 = [trace520];
var layout = {
  title: {
    text:'Station 4917520',
    font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,
  },
  yaxis: {
    title: {
      text: 'Value',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
Plotly.newPlot('timeseries_plot', data520, layout);
}

function chart600(d) {
var timeseriesObject600 = {{data600|safe}};
console.log(timeseriesObject600);
var trace600 = {
  x: timeseriesObject600['date600'],
  y: timeseriesObject600['values600'],
  type: 'scatter'
};
var data600 = [trace600];
var layout = {
  title: {
    text:'Station 4917600',
    font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,
  },
  yaxis: {
    title: {
      text: 'Value',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
Plotly.newPlot('timeseries_plot', data600, layout);
}

function chart700(d) {
var timeseriesObject700 = {{data700|safe}};
console.log(timeseriesObject700);
var trace700 = {
  x: timeseriesObject700['date700'],
  y: timeseriesObject700['values700'],
  type: 'scatter'
};
var data700 = [trace700];
var layout = {
  title: {
    text:'Station 4917700',
    font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,
  },
  yaxis: {
    title: {
      text: 'Value',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
Plotly.newPlot('timeseries_plot', data700, layout);
}

function chart710(d) {
var timeseriesObject710 = {{data710|safe}};
console.log(timeseriesObject710);
var trace710 = {
  x: timeseriesObject710['date710'],
  y: timeseriesObject710['values710'],
  type: 'scatter',
};
var data710 = [trace710];
var layout = {
  title: {
    text:'Station 4917710',
    font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,
  },
  yaxis: {
    title: {
      text: 'Value',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
Plotly.newPlot('timeseries_plot', data710, layout);
}

function chart715(d) {
var timeseriesObject715 = {{data715|safe}};
console.log(timeseriesObject715);
var trace715 = {
  x: timeseriesObject715['date715'],
  y: timeseriesObject715['values715'],
  type: 'scatter'
};
var data715 = [trace715];
var layout = {
  title: {
    text:'Station 4917715',
    font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,
  },
  yaxis: {
    title: {
      text: 'Value',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
Plotly.newPlot('timeseries_plot', data715, layout);
}

function chart770(d) {
var timeseriesObject770 = {{data770|safe}};
console.log(timeseriesObject770);
var trace770 = {
  x: timeseriesObject770['date770'],
  y: timeseriesObject770['values770'],
  type: 'scatter'
};
var data770 = [trace770];
var layout = {
  title: {
    text:'Station 4917770',
    font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,
  },
  yaxis: {
    title: {
      text: 'Value',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
Plotly.newPlot('timeseries_plot', data770, layout);
}

  var mymap = L.map('mapid').setView([40.2, -111.8], 11);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
  maxZoom: 32,
  id: 'mapbox/streets-v11',
  accessToken: 'pk.eyJ1IjoiYWJoaXNoZWthbWFsMTgiLCJhIjoiY2s1eTVxNGExMmQ5MDNubjExaWY5MjdvbSJ9.3nmdjWZmUCDNyRdlPo5gbg'
  }).addTo(mymap);

  let Lake = L.tileLayer.wms('https://geoserver.hydroshare.org/geoserver/HS-3f4baeb41ab140d0b2207bbdcb168ad4/wms', {
  layers: 'UtahLake', //Title name
  format: 'image/png', //depends on what you want to load in
  transparent: true,
  }).addTo(mymap);

  let Stations = L.tileLayer.wms('https://geoserver.hydroshare.org/geoserver/HS-3f4baeb41ab140d0b2207bbdcb168ad4/wms', {
  layers: 'Stations', //Title name
  format: 'image/png', //depends on what you want to load in
  transparent: true,
  }).addTo(mymap);

  var marker = L.marker([40.32087284,-111.7775375]).bindTooltip('310', {permanent: true, direction : 'bottom', className: 'transparent-tooltip',
  offset: [0, 0]}).addTo(mymap).bindPopup(chart310);
  var marker = L.marker([40.29569,-111.80282]).bindTooltip('365', {permanent: true, direction : 'bottom', className: 'transparent-tooltip',
  offset: [0, 0]}).addTo(mymap).bindPopup(chart365);
  var marker = L.marker([40.26828256,-111.8299304]).bindTooltip('370', {permanent: true, direction : 'bottom', className: 'transparent-tooltip',
  offset: [0, 0]}).addTo(mymap).bindPopup(chart370);
  var marker = L.marker([40.23717289,-111.7646472]).bindTooltip('390', {permanent: true, direction : 'bottom', className: 'transparent-tooltip',
  offset: [0, 0]}).addTo(mymap).bindPopup(chart390);
  var marker = L.marker([40.18913907,-111.6999312]).bindTooltip('450', {permanent: true, direction : 'bottom', className: 'transparent-tooltip',
  offset: [0, 0]}).addTo(mymap).bindPopup(chart450);
  var marker = L.marker([40.16967582,-111.8716056]).bindTooltip('500', {permanent: true, direction : 'bottom', className: 'transparent-tooltip',
  offset: [0, 0]}).addTo(mymap).bindPopup(chart500);
  var marker = L.marker([40.34216863,-111.8713257]).bindTooltip('520', {permanent: true, direction : 'bottom', className: 'transparent-tooltip',
  offset: [0, 0]}).addTo(mymap).bindPopup(chart520);
  var marker = L.marker([40.06023518,-111.8743836]).bindTooltip('600', {permanent: true, direction : 'bottom', className: 'transparent-tooltip',
  offset: [0, 0]}).addTo(mymap).bindPopup(chart600);
  var marker = L.marker([40.16773467,-111.7596514]).bindTooltip('700', {permanent: true, direction : 'bottom', className: 'transparent-tooltip',
  offset: [0, 0]}).addTo(mymap).bindPopup(chart700);
  var marker = L.marker([40.1577293,-111.7913255]).bindTooltip('710', {permanent: true, direction : 'bottom', className: 'transparent-tooltip',
  offset: [0, 0]}).addTo(mymap).bindPopup(chart710);
  var marker = L.marker([40.169162,-111.777287]).bindTooltip('715', {permanent: true, direction : 'bottom', className: 'transparent-tooltip',
  offset: [0, 0]}).addTo(mymap).bindPopup(chart715);
  var marker = L.marker([40.18856667,-111.7313142]).bindTooltip('770', {permanent: true, direction : 'bottom', className: 'transparent-tooltip',
  offset: [0, 0]}).addTo(mymap).bindPopup(chart770);

</script>

{% endblock %}

{% block import_gizmos %}
    {% import_gizmo_dependency plot_view %}
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}

  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
        </div>
        <div class="modal-body">
          <p>You can add custom buttons to the app header using the <code>header_buttons</code> block. Use anchor/link tags for the button and wrap it in a div with the class <code>header-button</code>. For buttons with the gliphyicons, add the <code>glyphicon-button</code> class as well.</p>
          <p>Ever have trouble using a modal in a Tethys app? Use the <code>after_app_content</code> block for modal content to allow them to function properly. See: <a href="https://getbootstrap.com/javascript/#modals">Bootstrap Modals</a></p>
          <p>Add tooltips to any element by adding the <code>data-toggle</code>, <code>data-placement</code>, and <code>title</code> attributes to the button. See: <a href="https://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltips</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
