{% extends "lake/base.html" %}
{% load tethys_gizmos %}
{% load tethys_gizmos static %}
{% gizmo timeseries_plot %}


{% block styles %}
    {{ block.super }}
    <link href="{% static 'lake/css/map.css' %}" rel="stylesheet"/>
{% endblock %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_navigation_items %}
  {% url 'lake:home' as home_url %}
  {% url 'lake:instructions' as instructions_url %}
  {% url 'lake:add_data' as add_data_url %}
  {% url 'lake:chl_a_total' as chl_a_total_url %}
  {% url 'lake:do' as do_url %}
  {% url 'lake:magn' as magn_url %}
  {% url 'lake:nit' as nit_url %}
  {% url 'lake:ph' as ph_url %}
  {% url 'lake:phosp' as phosp_url %}
  {% url 'lake:ortho' as ortho_url %}
  {% url 'lake:water_temp' as water_temp_url %}
  {% url 'lake:tds' as tds_url %}
  {% url 'lake:turb' as turb_url %}
  {% url 'lake:secchi' as secchi_url %}
  {% url 'lake:precip' as precip_url %}
  <li class="title">Navigation</li>
  <li class="{% if request.path == home_url %}active{% endif %}"><a href="{{ home_url }}">Home</a></li>
  <li class="{% if request.path == instructions_url %}active{% endif %}"><a href="{{ instructions_url }}">Instructions</a></li>
  <li class="{% if request.path == search_data_url %}active{% endif %}"><a href="{{ search_data_url }}">Search Data</a></li>
  <li class="title">Select Parameter</li>
  <ul>
  <li class="title">Chlorophyll a</li>
    <li class="{% if request.path == chl_a_total %}active{% endif %}"><a href="{{ chl_a_total_url }}">Total</a></li>
    <li class="{% if request.path == do %}active{% endif %}"><a href="{{ do_url }}">Dissolved Oxygen</a></li>
    <li class="{% if request.path == magn %}active{% endif %}"><a href="{{ magn_url }}">Magnesium</a></li>
    <li class="{% if request.path == nit %}active{% endif %}"><a href="{{ nit_url }}">Nitrogen</a></li>
    <li class="{% if request.path == ph %}active{% endif %}"><a href="{{ ph_url }}">pH</a></li>
    <li class="{% if request.path == phosp %}active{% endif %}"><a href="{{ phosp_url }}">Phosphate-Phosphorus</a></li>
    <li class="{% if request.path == ortho %}active{% endif %}"><a href="{{ ortho_url }}">Ortho Phosphorus</a></li>
    <li class="{% if request.path == water_temp %}active{% endif %}"><a href="{{ water_temp_url }}">Water Temperature</a></li>
    <li class="{% if request.path == tds %}active{% endif %}"><a href="{{ tds_url }}">Total Dissolved Solids</a></li>
    <li class="{% if request.path == turb %}active{% endif %}"><a href="{{ turb_url }}">Turbidity</a></li>
    <li class="{% if request.path == secchi %}active{% endif %}"><a href="{{ secchi_url }}">Secchi Disk Depth</a></li>
    <li class="{% if request.path == precip %}active{% endif %}"><a href="{{ precip_url }}">Precipitation</a></li>
  </ul>

{% endblock %}

{% block app_content %}
  <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <style>

    .column {
    float: left;
    width: 35%;
    margin-bottom: 16px;
    padding: 0 10px;
    }

    #mapid { height:500px; width: 350px; }

    </style>

  </head>

  <body>
    <div class="column">
      <h3>{{characteristic}}</h3>
      <div id="mapid"></div>
    </div>
    <div class="column">
      <div id="timeseries_plot"></div>
        // <canvas id="timeseries_plot" width="400" height="400"></canvas>
    </div>

  </body>

<script>
  var alldata = {{all_data|safe}};

	function chart(d) {

		var location = d.options.title;
		var timeseriesObject = d.options.custom;
    var timeseriesCorrectedY=[];
    timeseriesObject['values'].forEach(function(x){
      if(x < 0){
        timeseriesCorrectedY.push(NaN);
      }
      else{
        timeseriesCorrectedY.push(x);
      }
    });

    var unit = d.options.unit;
		console.log(timeseriesObject);
		var trace = {
		  x: timeseriesObject['dates'],
		  y: timeseriesCorrectedY,
      type: 'bar'
		};
		var data = [trace];
		var layout = {
		  title: {
		    text:'Station '.concat(location),
		    font: {
		      family: 'Arial, sans-serif',
		      size: 24
		    },
		    xref: 'paper',
		    x: 0.05,
		  },
		  yaxis: {
		    title: {
		      text: 'Value '.concat(unit),
		      font: {
			family: 'Arial, sans-serif',
			size: 18,
			color: '#7f7f7f'
		      }
		    }
		  }
		};
		Plotly.newPlot('timeseries_plot', data, layout);
	}

	  var mymap = L.map('mapid').setView([40.2, -111.8], 10);
	  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
	  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	  maxZoom: 32,
	  id: 'mapbox/streets-v11',
	  accessToken: 'pk.eyJ1IjoiYWJoaXNoZWthbWFsMTgiLCJhIjoiY2s1eTVxNGExMmQ5MDNubjExaWY5MjdvbSJ9.3nmdjWZmUCDNyRdlPo5gbg'
	  }).addTo(mymap);

	  // let Lake = L.tileLayer.wms('https://geoserver.hydroshare.org/geoserver/HS-3f4baeb41ab140d0b2207bbdcb168ad4/wms', {
	  //layers: 'UtahLake', //Title name
	  //format: 'image/png', //depends on what you want to load in
	  //transparent: true,
	  //}).addTo(mymap);

	  let iconMiller = L.icon({
	      iconUrl: "{% static '/lake/images/byu.png' %}",
	      iconSize:  [15, 12]
	  });

    let iconAwqms = L.icon({
	      iconUrl: "{% static '/lake/images/raindrop.png' %}",
	      iconSize:  [15, 15]
	  });

  var unit = {{unit|safe}};
	for (var locat in alldata) {
		var location_data = alldata[locat];
		var coords = location_data['coords'];
		var data = location_data['data'];
    if (location_data['org'] == 'BYU, Dr Miller') {
	     var marker = L.marker(coords, {title:locat, custom: data, icon: iconMiller, unit: unit}).addTo(mymap).bindPopup(chart);
        } else if (location_data['org'] == 'UTAHDWQ_WQX') {
	     var marker = L.marker(coords, {title:locat, custom: data, icon: iconAwqms, unit: unit}).addTo(mymap).bindPopup(chart);
       }
  	};

	</script>

{% endblock %}

{% block import_gizmos %}
    {% import_gizmo_dependency plot_view %}
{% endblock %}

<!-- {# Use the after_app_content block for modals #}
{% block after_app_content %}

  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
        </div>
        <div class="modal-body">
          <p>You can add custom buttons to the app header using the <code>header_buttons</code> block. Use anchor/link tags for the button and wrap it in a div with the class <code>header-button</code>. For buttons with the gliphyicons, add the <code>glyphicon-button</code> class as well.</p>
          <p>Ever have trouble using a modal in a Tethys app? Use the <code>after_app_content</code> block for modal content to allow them to function properly. See: <a href="https://getbootstrap.com/javascript/#modals">Bootstrap Modals</a></p>
          <p>Add tooltips to any element by adding the <code>data-toggle</code>, <code>data-placement</code>, and <code>title</code> attributes to the button. See: <a href="https://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltips</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %} -->
