{% extends "lake/base.html" %}
{% load tethys_gizmos %}
{% load tethys_gizmos static %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'lake/css/map.css' %}" rel="stylesheet"/>
{% endblock %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_navigation_items %}
  {% url 'lake:home' as home_url %}
  {% url 'lake:instructions' as instructions_url %}
  {% url 'lake:add_data' as add_data_url %}
  {% url 'lake:chl_a' as chl_a_url %}
  {% url 'lake:do' as do_url %}
  {% url 'lake:nit' as nit_url %}
  {% url 'lake:ph' as ph_url %}
  {% url 'lake:phosp' as phosp_url %}
  {% url 'lake:water_temp' as water_temp_url %}
  {% url 'lake:tds' as tds_url %}
  {% url 'lake:tub' as turb_url %}
  {% url 'lake:secchi' as secchi_url %}
  <li class="title">Navigation</li>
  <li class="{% if request.path == home_url %}active{% endif %}"><a href="{{ home_url }}">Home</a></li>
  <li class="{% if request.path == instructions_url %}active{% endif %}"><a href="{{ instructions_url }}">Instructions</a></li>
  <li class="{% if request.path == add_data_url %}active{% endif %}"><a href="{{ add_data_url }}">Search Data</a></li>
  <li class="title">Select Parameter</li>
  <ul>
    <li class="{% if request.path == chl_a %}active{% endif %}"><a href="{{ chl_a_url }}">Chlorophyll a</li>
    <li class="{% if request.path == do %}active{% endif %}"><a href="{{ do_url }}">Dissolved Oxygen</li>
    <li class="{% if request.path == nit %}active{% endif %}"><a href="{{ nit_url }}">Nitrogen</li>
    <li class="{% if request.path == ph %}active{% endif %}"><a href="{{ ph_url }}">pH</li>
    <li class="{% if request.path == phosp %}active{% endif %}"><a href="{{ phosp_url }}">Phospate-Phosphorus</li>
    <li class="{% if request.path == water_temp %}active{% endif %}"><a href="{{ water_temp_url }}">Water Temperature</li>
    <li class="{% if request.path == tds %}active{% endif %}"><a href="{{ tds_url }}">Total Dissolved Solids</li>
    <li class="{% if request.path == turb %}active{% endif %}"><a href="{{ turb_url }}">Turbidity</li>
    <li class="{% if request.path == secchi %}active{% endif %}"><a href="{{ secchi_url }}">Secchi Disk Depth</li>
  </ul>
{% endblock %}

{% block app_content %}
  <head>
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>
      <style>
          #mapid { height: 750px; width: 600px; }
      </style>
      <link href="HydroShare.css" type="text/css" rel="stylesheet" />
         <title>
             HydroShare
         </title>

  </head>
  <body>
        <h1>Water Temperature</h1>
       <div id="mapid"></div>
  </body>
<script>

  var mymap = L.map('mapid').setView([40.2, -111.8], 11);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
  maxZoom: 32,
  id: 'mapbox/streets-v11',
  accessToken: 'pk.eyJ1IjoiYWJoaXNoZWthbWFsMTgiLCJhIjoiY2s1eTVxNGExMmQ5MDNubjExaWY5MjdvbSJ9.3nmdjWZmUCDNyRdlPo5gbg'
  }).addTo(mymap);

  let Lake = L.tileLayer.wms('https://geoserver.hydroshare.org/geoserver/HS-3f4baeb41ab140d0b2207bbdcb168ad4/wms', {
  layers: 'UtahLake', //Title name
  format: 'image/png', //depends on what you want to load in
  transparent: true,
  }).addTo(mymap);

  let Stations = L.tileLayer.wms('https://geoserver.hydroshare.org/geoserver/HS-3f4baeb41ab140d0b2207bbdcb168ad4/wms', {
  layers: 'Stations_XYTableToPoint7', //Title name
  format: 'image/png', //depends on what you want to load in
  transparent: true,
  }).addTo(mymap);

</script>

{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}

  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
        </div>
        <div class="modal-body">
          <p>You can add custom buttons to the app header using the <code>header_buttons</code> block. Use anchor/link tags for the button and wrap it in a div with the class <code>header-button</code>. For buttons with the gliphyicons, add the <code>glyphicon-button</code> class as well.</p>
          <p>Ever have trouble using a modal in a Tethys app? Use the <code>after_app_content</code> block for modal content to allow them to function properly. See: <a href="https://getbootstrap.com/javascript/#modals">Bootstrap Modals</a></p>
          <p>Add tooltips to any element by adding the <code>data-toggle</code>, <code>data-placement</code>, and <code>title</code> attributes to the button. See: <a href="https://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltips</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
